
.header{
	background:#6F2885 /*url('../img/headbg.png') repeat-x*/;
	/*border-bottom: #000 2px solid;*/
	margin: 0;
	padding-top:  10px;
	height: 65px;

}
html,body{
	background: #ddd url('../img/whitey.png') repeat;
	height: 100%;
}

.splash{

	font-family: 'Segoe UI Light','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	margin-bottom: 50px;
}
.container{
	max-width: 970px;
}
.article{
	
	
	padding-top: 20px;
	
}
.divider{
	margin-bottom: 5px;
	/*height: 303px;*/
}
.thumbnail .caption {
padding: 5px;
color: #333333;
}
.thumbnail{
	/*border-radius: 0;
	padding: 0;
	border: 1px solid #D8D8D8;*/
}
.coming{
	margin-bottom: 20px;
}
.head{
	height: 75px;
	background: #000;
	color: #fff;
	padding:5px 10px;
}
.text{
	padding:  5px;
}

.panel {
border-width: 0;
border-top-width: 3px;
border-radius: 0;
/*-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);*/
}

.panel-default {
border-top-color: #f47063;
}
.event_footer {
background-color: #f4f4f4;
border-top: 1px solid #e5e5e5;
font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
font-weight: 300;
font-size: 0.75em;
letter-spacing: 0.02em;
line-height: 14pt;
font-smooth: always;
padding: 5px;
}

.footer {
background-color: #000;
border-top: 1px solid #e5e5e5;
font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
font-weight: 300;
font-size: 0.75em;
letter-spacing: 0.02em;
line-height: 14pt;
font-smooth: always;
padding: 5px;
margin-top: 40px;
}


h4{
	font-family: 'Segoe UI','Open Sans',Verdana,Arial,Helvetica,sans-serif;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​

        
        .footer
         {
            color: #666;
            background: #ffffff;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;    
        }
        .footer a {
            color: #999;
        }
        .footer a:hover {
            color: #000;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 20px;
        }
 